<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    {% if username == "JD": %}
        <h1>Hello Creator!</h1>
        <h2> Please Enter Parameters...</h2>
    {% else %}
        <h1>Hello {{ username }} </h1>
        <h2> Please Enter Parameters...</h2>
    {% endif %}
    </body>
</html>
<form action="/data" method = "POST">
    <p>Class Period <input type = "text" name = "period" /></p>
    <p>Number Students in Groups <input type = "text" name = "gps" /></p>
    <p>Distribute Leftovers <input type = "checkbox" name = "dl" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
